@using ShadowBlog.Services.Interfaces
@inject IImageService _imageService
<!--=====================================-->
<!--=           Category Start        	=-->
<!--=====================================-->
<!--=====================================-->
<!--=        Contact Page Start        	=-->
<!--=====================================-->
<section class="inner-section">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-xl-9 col-lg-8">
                <div class="contact-page">
                    
                    @*<div class="about-content">
                            <div class="heading-layout3">
                                <h3 class="heading-title">About Gamex</h3>
                            </div>
                            <p>Frium has been the industry's standard dummy text ever since thewhen an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveIpsum has been the industry's standard dummy text ever since printer took.</p>
                        </div>*@

                    <div class="contact-form  card">
                        <div class="heading-layout3">
                            <h3 class="heading-title mt-3 p-3">Send Us A Message</h3>
                        </div>
                        <form asp-action="ContactMe" asp-controller="Home" class="card-body">
                            <div class="row gutters-15">
                                <div class="col-lg-4 form-group">
                                    <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <input type="email" placeholder="E-mail" class="form-control" name="email" data-error="Email field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <textarea placeholder="Message" class="textarea form-control" name="message" rows="7" cols="20" data-error="Message field is required" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <button type="submit" class="submit-btn">SUBMIT NOW</button>
                                </div>
                            </div>
                            <div class="form-response"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 sidebar-widget">
                <div class="widget widget-search">
                    <form asp-action="SearchPosts" asp-controller="BlogPosts">
                        <div class="input-group stylish-input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search Story . . .">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                
              
                
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=            Social Start           =-->
<!--=====================================-->
<section class="social-box-wrap">
    <div class="container-fluid full-width">
      
    </div>
</section>
<!--=====================================-->
<!--=            Footer Start           =-->
<!--=====================================-->