@model ShadowBlog.Models.BlogPost
@inject IImageService _imageService
@using ShadowBlog.Services.Interfaces 

@{
    ViewData["Title"] = "Details";
}

<!--=====================================-->
<!--=           Inner Banner Start      =-->
<!--=====================================-->
<section class="inner-page-banner bg-common" data-bg-image="media/figure/banner1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Single Post</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Post Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=         Single Post Start        	=-->
<!--=====================================-->
<section class="inner-section">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-xl-9 col-lg-8">
                <div class="single-post-layout1">
                    <div class="post-details">
                        <div class="post-img">
                            <img src="@_imageService.DecodeImage(Model.ImageData, Model.ImageType)" alt="Post Photo">
                        </div>
                        <div class="post-date"><i class="flaticon-clock"></i>@Model.Created.ToString("dd MMMM, yyyy")</div>
                        <h2 class="post-title">
                           @Model.Title
                        </h2>
                        <div class="entry-meta">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="post-meta-dark">
                                        <ul>
                                            <li class="post-author">
                                                <div class="author-icon bg-green">
                                                    <i class="flaticon-user"></i>
                                                </div>
                                                <div class="author-content">
                                                    <div class="item-text">Posted by</div>
                                                    <div class="author-name"><a asp-action="AboutMe" asp-controller="Home">Monae Lee</a></div>
                                                </div>
                                            </li>
                                            <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                            <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>1,380</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="social-share">
                                        <label>Share</label>
                                        <ul>
                                            <li><a href="#" class="bg-fb"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="bg-twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" class="bg-linked"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#" class="bg-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#" class="bg-pinterst"><i class="fab fa-pinterest-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p>@Html.Raw(Model.Content)</p>
                        @*<blockquote>
                            Srem Ipsum is simply dummy text of the printing and typ esetting industry. Ipsum has been the industry's standard dummy text eorem Ipsum is simply the industry's standard .
                        </blockquote>*@
                       
                        <ul class="related-tag">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Racing</a></li>
                            <li><a href="#">Games</a></li>
                        </ul>
                    </div>
                    <div class="item-author">
                        <div class="media">
                            <div class="item-img">
                                <img  alt="Author">
                            </div>
                            <div class="media-body">
                                <h3 class="item-title">Mark Willy</h3>
                                <div class="item-subtitle">CEO</div>
                                <p>Dorem Ipsum is simply dummy text of the printing and type area aawin gustry has been the industry's standardt.</p>
                                <ul class="item-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-comments">
                        <div class="heading-layout3">
                            <h3 class="heading-title-md">03 Comments</h3>
                        </div>
                        <div class="comment-box">
                            <div class="media">
                                <div class="item-img">
                                    <img src="~/media/post/author2.jpg" alt="logo">
                                </div>
                                <div class="media-body">
                                    <h4 class="item-title">Dakcon Nitiya ,<span>September 29, 2019</span></h4>
                                    <p>Borem Ipsum is simply dummy text of the printing and typesetting indusem Ipsum has is simply dumhe printing.</p>
                                    <a href="#" class="reply-btn">Reply</a>
                                </div>
                            </div>
                            <div class="media"> 
                                <div class="item-img">
                                    <img src="~/media/post/author3.jpg" alt="logo">
                                </div>
                                <div class="media-body">
                                    <h4 class="item-title">Mark Willy ,<span>September 29, 2019</span></h4>
                                    <p>Borem Ipsum is simply dummy text of the printing and typesetting indusem Ipsum has is simply dumhe printing.</p>
                                    <a href="#" class="reply-btn">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <div class="heading-layout3">
                            <h3 class="heading-title-md">Leave a Comment</h3>
                        </div>
                        <form action="#">
                            <div class="row guuters-25">
                                <div class="col-lg-4 form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Name *">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email *">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <input type="text" class="form-control" name="website" placeholder="Website *">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <textarea placeholder="Message" class="textarea form-control" name="message" rows="7" cols="20"></textarea>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="submit-btn disabled">SUBMIT NOW</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 sidebar-widget">
                <div class="widget widget-search">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search Story . . .">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="flaticon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="widget widget-archive">
                    <div class="heading-layout1">
                        <h3 class="heading-title">Categories</h3>
                    </div>
                    <ul class="archive-list">
                        <li>
                            <a href="#">Action<span>(12)</span></a>
                        </li>
                        <li>
                            <a href="#">Racing<span>(4)</span></a>
                        </li>
                        <li>
                            <a href="#">Football<span>(11)</span></a>
                        </li>
                        <li>
                            <a href="#">Fight<span>(79)</span></a>
                        </li>
                        <li>
                            <a href="#">Animation<span>(4)</span></a>
                        </li>
                        <li>
                            <a href="#">Boxing<span>(11)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-social">
                    <div class="heading-layout1">
                        <h2 class="heading-title">Follow Us On</h2>
                    </div>
                    <div class="social-box">
                        <div class="media">
                            <div class="item-icon bg-fb">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="media-body bg-fb2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">10,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="media-body bg-twitter2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">19,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-google-plus">
                                <i class="fab fa-google-plus-g"></i>
                            </div>
                            <div class="media-body bg-google-plus2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">9,369</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-dribble">
                                <i class="fab fa-dribbble"></i>
                            </div>
                            <div class="media-body bg-dribble2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">11,599</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-upcoming-post">
                    <div class="heading-layout1">
                        <h2 class="heading-title">Upcoming Games</h2>
                    </div>
                    <div class="post-list-layout2">
                        <div class="media">
                            <div class="item-img">
                                <img src="~/media/post/post7.jpg" alt="Post">
                            </div>
                            <div class="media-body">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <img src="~/media/post/post8.jpg" alt="Post">
                            </div>
                            <div class="media-body">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <img src="~/media/post/post9.jpg" alt="Post">
                            </div>
                            <div class="media-body">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img">
                                <img src="~/media/post/post10.jpg" alt="Post">
                            </div>
                            <div class="media-body">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-tags">
                    <div class="heading-layout1">
                        <h2 class="heading-title">Popular Tags</h2>
                    </div>
                    <ul class="tag-list">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Racing</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Wind</a></li>
                        <li><a href="#">Animation</a></li>
                        <li><a href="#">Cycling</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=           Social Start        	=-->
<!--=====================================-->
<section class="social-box-wrap">
    <div class="container-fluid full-width">
        <div class="row no-gutters">
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social1.png" alt="Social"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social2.png" alt="Social"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social3.png" alt="Social"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social4.png" alt="Social"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social5.png" alt="Social"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="social-box-img">
                    <a href="#"><img src="~/media/social/social6.png" alt="Social"></a>
                </div>
            </div>
        </div>
    </div>
</section>