@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>@ViewData["Title"]</h1>
<p>Thank you for confirming your email. Click to Log In</p>
<a asp-area="Identity" asp-page="/Account/Login" >Log In</a>
